  
.component-container{
    color: rgb(51, 51, 51);
text-align: center;
vertical-align: baseline;
margin: 0px;
padding: 0px;
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
font: inherit;
height: 100%;
display: flex;
flex-direction: column;
background-color: rgb(70, 23, 143);
position: relative;
overflow: hidden;
}
.answer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    padding: 1em;
    grid-auto-rows: minmax(18em, auto);
}

/* shapes------------------------------------ */
.q1{
    background-color: #e91b1b;
    text-align: center;
    border-radius: 4px;
}

.q2{
    background-color: #1b48e9;
    text-align: center;
    border-radius: 4px;
}

.q3{
    background-color: #e9c71b;
    text-align: center;
    border-radius: 4px;
}

.q4{
    background-color: #098626;
    text-align: center;
    border-radius: 4px;
}

.q-blank{
    box-shadow:  0 4px 6px 1px rgba(136, 136, 136, 0.062);
    border-radius: 4px;
}

.shape{
    width: 140px;
    padding-top: 75px;
}

.shape-question{
    width: 80%;
    float: left;
    padding-top: 24%;
}
.question textarea{
    width: 87%;
    resize: none;
    display: flex;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}
/* shapes------------------------------------ */



/* Player-Question-Over---------------------- */
.answer{
    width: 100vw;
    height: 80vh;
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40%;
    box-sizing: border-box;
}

.correct{
    background-color: #6CBE45;
}

.incorrect{
    background-color: #EF3D5B;
}

.answer-indicator{
    width: 100vw;
    font-family: BPreplay,sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    text-rendering: optimizeLegibility;
    line-height: normal;
    margin: 0;
    text-transform: none;
    text-shadow: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding-top: 40%;
}
/* Player-Question-Over---------------------- */


 .answer-container p{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 100px;
}

.player-info{
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
    color: #333;
    padding-left: 1em;
  }
  

.status-bar-score{
    overflow: hidden;
    min-width: 5rem;
    margin: 0 1em 1em;
    background: #333;
    border-radius: .1875rem;
    font-size: 1rem;
    line-height: 1.875;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    box-sizing: border-box;
}

.status-bar-hidden{
    overflow: hidden;
    min-width: 5rem;
    margin: 0 1em 1em;
    background: #333;
    border-radius: .1875rem;
    font-size: 1rem;
    line-height: 1.875;
    text-align: center;
    color:#333;
    padding-top: 6px;
    box-sizing: border-box;
}

.pin{
    width: 100%;
    height: 20vh;
    font-size: 9em;
    color:black;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 3vh;
    text-align: center;
}

.player-name{
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
}

.btn-players{
    width: 100vw;
    height: 15vh;
    /* flex-wrap: wrap; */
    padding: 1.5vw;
    background-color: #46178F;
}


#player-join{
    /* color: #fff; */
   font-size: 24px;
   padding-top: 6%;
   font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}
#player-pin{
    color: black;
   font-size: 60px;
   font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

/* QUESTIONS-------------------------------------- */
.question{
    padding: 5px;
}

.questions-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.questions-grid{
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    padding: 1em;
    grid-template-rows: 1fr 1fr;
}

.shape-container{
    width: 75px;
}


.question-over-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.center{
    width: 100vw;
    display: flex;
    justify-content: center;
}
/* QUESTIONS-------------------------------------- */


/*GAME OVER--------------------------------------*/

.game-over {
    text-align: center;
    color: #fff;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

.btn-newGame{
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #333;
    background-image: linear-gradient(to bottom,#333,#333);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-position: 0;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    z-index: 100;
}

.leaderBoard {
    font-size: 42px;
}

.leaderBoard-title {
    font-size: 56px;
    font-weight: 900;
}

/*GAME OVER---------------------------------------*/



.timer{
    font-size: 40px;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    animation-name: timer-color;
    animation-duration: 20s;
}

@keyframes timer-color{
    0% {  color: #202020;}
    70% {  color: #202020;
        transform: scale(1)}
    100% {  color: #d30000;
            transform: scale(1.1)
            }
}






/* load animation--------------------------- */
.waiting-for-results{
    width: 100vw;
    height: 80vh;
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40%;
    box-sizing: border-box;
    background-color: #7E56A4;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear; 
}

.load-circle{
    width: 100vw;
    height: 30%;
    animation: load-spin 1050ms;
    animation-delay: 500ms;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}

#too-fast{
    width: 70%;
    font-size: 1.5rem;
}

@keyframes load-spin{
    0%   {transform: rotate(0deg)}
    75% {transform: rotate(360deg)}
    100% {transform: rotate(360deg)}
}
/* load animation--------------------------- */

@media(min-width: 700px ){
    .diamond{
        width: 16vw;
        margin-top: 56px;
    }
    .q{
        height: 400px;
         box-sizing: border-box;
         text-align: center;
         padding-top: 24px;
     }
     .shape{
        width: 20vw;
        margin-top: 24px;
     }
 }


.test{
    position: relative;
    min-height: 22.5vh;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5.5vmin calc(2.5rem + 5vmin) 2.5vmin;
    flex: 0 0 auto;
    border-bottom: 0.2vmin solid rgba(0, 0, 0, 0.2);
    transition: border 0.2s ease-in-out 1.3s;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #24066B;
}
.test_2{
    position: relative;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.test_3{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100%;
    top: 13vh;
    width: 100%;
    z-index: 3;
    transform: translateY(-100%) scale(1);
    position: relative;
    animation-name: kLaBxl, iJaupf;
    animation-delay: 0.5s, 1.1s;
    animation-duration: 0.5s, 0.6s;
    animation-fill-mode: backwards, forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out, cubic-bezier(0.8, 0, 0.4, 1);
    flex: 1 0 auto;
}
.test_4{
    display: flex;
    margin: 0px auto;
}
.test_5{
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -1vmin;
    clip-path: polygon(calc(100% - 2.5vmin) 0px, 100% 50%, calc(100% - 2.5vmin) 100%, 0px 100%, 0px 0px);
    padding: 1.7vmin 2.5vmin 1.7vmin 2.8vmin;
    border-radius: 0.5vmin 0px 0px 0.5vmin;
}
.test_6{
    display: inline-flex;
    flex-direction: column;
    font-size: 3.28vmin;
    line-height: 3.74vmin;
    text-align: left;
}
.test_5_1{
    position: relative;
    min-height: 100%;
    display: flex;
    flex: 1 0 auto;
}
.test_5_1_a{
    display: inline;
    background-color: rgb(255, 255, 255);
    font-size: 2.34vmin;
    line-height: 2.49vmin;
    font-weight: bold;
    position: absolute;
    top: 0.2vmin;
    left: 3.3vmin;
    transform: translateY(-100%);
    padding: 0.5vmin 1vmin 0px;
    border-radius: 0.5vmin 0.5vmin 0px 0px;
}
.test_5_1_b{
    font-size: 9.38vmin;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.286vmin;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: -1vmin;
    clip-path: polygon(0px 0%, 100% 0px, 100% 100%, 0px 100%, 2.5vmin 50%);
    border-radius: 0px 0.5vmin 0.5vmin 0px;
    padding: 0px 2.8vmin 0px 5.3vmin;
}
.list-player-joined{
    min-height:62.5vh;
    color:white;
    font-weight: 800;
    font-size: 20px;
}
.player-count{
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.42vmin;
    padding: 0.5vmin 2vmin 0.5vmin 0.5vmin;
}

